@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --main: #2c2c38;
    --second: #242430;
    --txt: #f5f5f5;
    --accent: #645fc6;
    --hover: #3b3b3b;
}

.lightTheme{
    --main: #2c2c38;
    --second: #242430;
    --txt: #f5f5f5;
}


*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%; 
    
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--txt);
    
}

.container{
    display: flex;
}

.btnBig{
    width: 18rem;
    height: 3.6rem;
    padding: .6rem 1rem;
    border: none;
    border-radius: 30rem;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--txt);
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.15s ease-in-out;
}

.btnBig:hover{
    background-color: #3b3b3b;
}

.material-symbols-outlined {
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 60
}

li{
    list-style-type: none;
    margin: 1rem 0;
    padding: 1rem 0;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 28rem;
    height: 4rem;
}

.li-active{
    background-color: var(--accent);
    border-radius: 0 30rem 30rem 0;
}

li:hover{
    background-color: var(--hover);
    border-radius: 0 30rem 30rem 0;
}

li:last-child{
    color: var(--accent);
}

.headerRight .material-symbols-outlined {
    padding: .4rem;
    margin-left: 1.6rem;
}

.headerRight .material-symbols-outlined:hover {
    background-color: #3b3b3b;
    border-radius: 30rem;
}

.asideTopRight .material-symbols-outlined{
    transition: all 0.3s ease-in-out;
}

.icon-rotate{
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.icon-mg-s{
    margin-left: 1.6rem;
}

.icon-custom:hover{
    background-color: #3b3b3b;
    border-radius: 30rem;

}

/* ===================================== */
/* Aside Menu */
.asideMenu{
    min-width: 30rem;
    height: 100vh;
    border-right: 1px solid #3b3b3b;
    transition: all 0.3s ease-in-out;
}

.closeAsideMenu{
    min-width: 6rem !important;
    transition: all 0.3s ease-in-out;
}

.asideTop{
    height: 8rem;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.asideTop .asideTopRight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 3rem;
    background-color: var(--accent);
    border-radius: 30rem 0 0 30rem;
    transition: all 0.15s ease-in-out;
}

.asideTop .asideTopRight:hover{
    background-color: #3b3b3b;
}

.asideBottom {
    /* width: 100%; */
    background-color: var(--main);
    height: calc(100vh - 8rem);
    padding: 1rem 0;
}

.asideBottom h2{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 1.4rem 0 1.4rem 2rem;
}

.asideBottom .spanTxt{
    margin-left: 2rem;
}

/* ===================================== */
/* Main section*/
.main{
    width: 100%;
    height: 100vh;
} 

/* Main section - Header */
.main .header h1{
    font-size: 2.2rem;
}

.main .header{
    background-color: var(--main);
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid #3b3b3b;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header .headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
}

.mainSection {
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: var(--second);
    padding: 2rem;
}





/* ===================================== */
/* Mobile size styling */
@media (max-width:768px) {
    .asideMenu{
        min-width: 6rem !important;
    }
}