@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --main: #2c2c38;
    --second: #242430;
    --txt: #f5f5f5;
    --txt-different: #f5f5f5;
    --accent: #645fc6;
    --hover: #3b3b3b;

    --transition-015: all 0.15s ease-in-out;
    --transition-03: all 0.3s ease-in-out;

    --border: 1px solid #3b3b3b;
    --modal: rgba(0,0,0, .5);

}

.lightTheme{
    --main: #f6f7fb;
    --second: #fff;
    --txt: #4e4e4e;
    --txt-different: #f5f5f5;

    --hover: #757575;
    
    --border: 1px solid #d8d8d8;
}


*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%; 
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--txt);
}

.container{
    display: flex;
}

.btnBig{
    width: 18rem;
    height: 3.6rem;
    padding: .6rem 1rem;
    border: none;
    border-radius: 30rem;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--txt-different);
    font-size: 1.4rem;
    font-weight: bold;
    transition: var(--transition-015);
}

.btnLong {
    width: 100%;
    height: 3.2;
    font-size: 1.2rem;
}

.btnWhite {
    background-color: #e9e8de;
    color: var(--accent);
}

.btnWhite:hover{
    color: var(--txt-different);
}

.btnBig:hover{
    background-color: var(--hover);
}

.material-symbols-outlined {
    cursor: pointer;
    transition: var(--transition-015);

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 60
}

li{
    list-style-type: none;
    margin: .6rem 0;
    padding: 1rem 0;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 28rem;
    height: 4.6rem;
    transition: var(--transition-015);
}

.li-active{
    background-color: var(--accent);
    border-radius: 0 30rem 30rem 0;
    width: 28rem;
    color: var(--txt-different);
}

li:hover{
    background-color: var(--hover);
    border-radius: 0 30rem 30rem 0;
}

li:first-child{
    color: var(--accent);
}

.headerRight .material-symbols-outlined {
    padding: .4rem;
    margin-left: 1.6rem;
}

.headerRight .material-symbols-outlined:hover {
    background-color: var(--hover);
    border-radius: 30rem;
    margin-left: 1.6rem;
}

.asideTopRight .material-symbols-outlined{
    transition: var(--transition-03);
}

.icon-rotate{
    transform: rotate(180deg);
    transition: var(--transition-03);
}

/* ===================================== */
/* Aside Menu */
.asideMenu{
    min-width: 30rem;
    height: 100vh;
    transition: var(--transition-03);
}

.closeAsideMenu{
    min-width: 6rem !important;
    transition: var(--transition-03);
}

.asideTop{
    height: 8rem;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: var(--border);
}

.asideTop .asideTopRight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3rem;
    background-color: var(--accent);
    border-radius: 30rem 0 0 30rem;
    transition: var(--transition-015);
    color: var(--txt-different);
}

.asideTop .asideTopRight:hover{
    background-color: var(--hover);
}

.asideBottom {
    width: 100%;
    background-color: var(--main);
    height: calc(100vh - 8rem);
    padding: 1rem 6rem 0 0;
    position: relative;
    z-index: 8;
}

.asidBottomeMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    overflow-y: scroll;
    border-right: var(--border);
}

.asideBottom .asidBottomeMenu h2{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 1.4rem 0 1.4rem 0;
    width: 28rem;
    transition: var(--transition-03);
}

.h2TextOff{
    transform: translateX(-11.3rem);
    transition: var(--transition-03);
}

.asideBottom .asidBottomeMenu .material-symbols-outlined{
    margin-left: 1.8rem;
    padding: 0;
}

.asideBottom .asidBottomeMenu .spanTxt{
    margin-left: 2rem;
}

/* Theme Switch */
.themeSwitch{
    width: 100%;
    height: 5.4rem;
    background-color: var(--second);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: var(--border);
}

.switcher {
    min-width: 3.6rem;
    height: 2.4rem;
    background-color: var(--main);
    /* background-color: var(--txt); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    padding: .3rem;
    position: relative;
    margin: 0 2.2rem;
    border: var(--border);
}

.switcher input{
    opacity: 0;
    width: 100%;
}

.switcher .slider{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 10rem;
    background-color: var(--accent);
    position: absolute;
    top: .2rem;
    right: 0.3rem;
    transition: var(--transition-015);
}

.slider-move{
    transform: translateX(-1rem); 
}


/* ===================================== */
/* Main section*/
.main{
    width: 100%;
    height: 100vh;
    z-index: 10;
} 

/* Main section - Header */
.main .header h1{
    font-size: 2.2rem;
}

.main .header{
    background-color: var(--main);
    width: 100%;
    height: 8rem;
    border-bottom: var(--border);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header .headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
}

.mainSection {
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: var(--second);
    padding: 2rem;

}

/* ===================================== */
/* Modal */

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: var(--modal);
    display: none;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--main);
    width: 42rem;
    min-height: 70vh;
    z-index: 12;
    position: relative;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem;
}

.cardItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card h2{
    font-size: 1.8rem;
}

.closeBtn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: var(--txt);
    padding: .4rem;
    border: var(--border);
    border-radius: 4px;
}

.closeBtn:hover{
    background-color: var(--hover);
    cursor: pointer;
}

.cardItems input, textarea, label, select, button {
    width: 100%;
    border: var(--border);
    border-radius: 4px;
    background-color: var(--main);
    color: var(--txt);
}

label {
    border: none;
    font-size: 1.3rem;
    margin-bottom: .4rem;
}

input {
    width: 100%;
    height: 3.4rem;
    padding: .8rem;
}

.cardItems-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cardItems-input input {
    width: 90%;
}

.cardItems-input .material-symbols-outlined{
    color: var(--txt);
    padding: .4rem;
    border: var(--border);
    border-radius: 4px;
}

.cardItems-input .material-symbols-outlined:hover{
    background-color: var(--hover);
    cursor: pointer;

}

input:focus, textarea:focus{
    outline: none;
}

select {
    height: 3.4rem;
    color: var(--txt-different);
    padding: .8rem;
    margin-bottom: 1rem;
}

textarea{
    resize: none;
    padding: .8rem;
}



/* ===================================== */
/* Mobile size styling */
@media (max-width:768px) {
    .asideMenu{
        min-width: 6rem !important;
    }

    .mobileSpanTxt{
       display: none;
    }
}